 
{{#each result}}
 <div class="card card-cascade">

                        <!--Card image-->
                        <div class="view overlay">
                            <img id="childPic" src="" class="img-fluid" alt="">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-body text-left childCard" id="childCard1">
                            <!--Title-->
                            <h4 class="card-title">
                                <strong>Parent Name: {{this.result.parent_first_name}} {{this.parent_last_name}}</strong>
                            </h4>
                            <h5>Child:{{this.child_first_name}} {{this.child_last_name}}</h5>

                            <h5>Date of Birth:{{this.child_bday}}</h5>
                            <a class="btn btn-unique blue accent-1 medBtn">Medical Info</a>

                        </div>
                        <!--/.Card content-->

                    </div>

        {{/each}}








