 <div class="card card-cascade">

                        <!--Card image-->
                        <div class="view overlay">
                            <img id="childPic" src="" class="img-fluid" alt="">
                            <a>
                                <div class="mask rgba-white-slight"></div>
                            </a>
                        </div>
                        <!--/.Card image-->

                        <!--Card content-->
                        <div class="card-body text-left childCard" id="childCard1">
                            <!--Title-->
                            <h4 class="card-title">
                                <strong>First Name: {{first_name}}</strong>
                            </h4>
                            <h4 class="card-title">
                                <strong>Last Name:{{last_name}}</strong>
                            </h4>
                            <h5>Date of Birth:{{birth_date}}</h5>
                            <h5>Sex:{{sex}}</h5>
                            <h5>Parent:{{parent1_id}}</h5>
                            <a class="btn btn-unique blue accent-1 medBtn">Medical Info</a>

                        </div>
                        <!--/.Card content-->

                    </div>

                     







<!--
<ul>
{{#each children}}
<h1>Medical Information</h1>
<p>Allergies: {{allergy1}}</p>
<p>Allergies: {{allergy2}}</p>
{{/each}}
</ul>

<div class="card-body text-left childCard" id="childCard1">
///Title
<h4 class="card-title"><strong>First Name:</strong></h4>
<h4 class="card-title"><strong>Last Name:</strong></h4>
<h5>Date of Birth:</h5>
<h5>Sex:</h5>
<h5>Parent:</h5>
<a class="btn btn-unique blue accent-1 medBtn">Medical Info</a>
</div>

-->